<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Triplan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<script src="/assets/js/jquery.min.js"></script>
</head>

<body>
    {{{ body }}}
</body>
</html>